*{
    margin: 0em;
    padding: 0em;
}
body {
    font-family: sofia-pro;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    color: #222;
}
.ibody{
    background:url(../img/1.gif) no-repeat ;
    background-size:cover;
    background-position: top;
    height: 800px;

}
/*nav*/
.navbar{
    background-color: white;
}
.navbar-brand{
    font-size: 60px;
    font-weight: 500;
    margin : 0em;
    font-family: bebas-neue;
    letter-spacing: 0em;
    line-height: 0.8em;
    color:rgb(34, 34, 34);
}
.navbar-brand span{
    font-weight: 600;
    text-transform: none;
    font-family: sofia-pro;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.24em;
    line-height: 1em;
    text-transform: uppercase;
    color: #222;
}
.nav-item{
    font-family: bebas-neue;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20PX;
    color:black;
    background-color: transparent;
}
.nav-item a{
    font-family: bebas-neue;
    font-weight: 400;
    font-style: none;
    font-size: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20PX;
    color:black;
    background-color: transparent;
    display: inline-block;
}
