*{
    margin: 0em;
    padding: 0em;
}
body {
    font-family: sofia-pro;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    color: #222;
}
.ibody{
    background:url(../img/1.gif) no-repeat ;
    background-size:cover;
    background-position: top;
    height: 800px;

}
/*nav*/
.navbar{
    background-color: white;
}
.navbar-brand{
    font-size: 60px;
    font-weight: 500;
    margin : 0em;
    font-family: bebas-neue;
    letter-spacing: 0em;
    line-height: 0.8em;
    color:rgb(34, 34, 34);
}
.navbar-brand span{
    font-weight: 600;
    text-transform: none;
    font-family: sofia-pro;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.24em;
    line-height: 1em;
    text-transform: uppercase;
    color: #222;
}
.nav-item{
    font-family: bebas-neue;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20PX;
    color:black;
    background-color: transparent;
}
.nav-item a{
    font-family: bebas-neue;
    font-weight: 400;
    font-style: none;
    font-size: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20PX;
    color:black;
    background-color: transparent;
    display: inline-block;
}
/*contact*/
.social_links {
    padding:0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

.social_links li {
    float: left;
    margin-right: 4px;
}

.social_links li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
}

.social_links li a:hover, .social_links li a:focus {
    text-decoration: none;
    border-radius: 80px;
}

.twitter a:hover {
    color: #55acee;
}

.facebook a:hover {
    color: #3b5998;
}

.pinterest a:hover {
    color: #cb2026;
}

.gplus a:hover {
    color: #dd4b39;
}
.fa {
    color: #000;
    margin-left: 550px;
}
.btn{
    background-color: rgb(161, 129, 120);
    color: cornsilk;
}
.btn:hover{
    background-color: rgb(240, 59, 9) ;
    color:yellow;
}
h1{
    font-family: bebas-neue;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -.02em;
    line-height: 1.15em;
}
.c1{
    background-color: gray;
}
#contactForm{
    margin-top: 2em;
}
.myemail{
    text-decoration: none;
    color:blueviolet;
}
.contact_info{
    margin-top: 2em;
}
/*about*/
#myCarousel {
    color:#222;
    position: relative;
    height: 31em;
    margin-top:4em;
    margin-left: 0em;
    width: 40em;
    font-family: sofia-pro;
    font-size: 15px;
    letter-spacing: .01em;
    line-height: 2em;
}
.about-right{
	float: left;
	padding:0px;
	background:url(../img/7.jpg) no-repeat 0px 0px;
	height:32em;
    margin-right: 0;
    margin-left: 2em;
    margin-top: 4em;
    width: 35em;
}
.about-left{
    float: left;
    height:500px ;
}
.aboutm{
    background-color:gray;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-weight: 300;
    font-style: normal;
   
    text-transform: none;
    color: #222;
}
.carousel-indicators li {
    padding: 0;
    background-color:blue;
}
/*gallery*/
#portfolio img {
	width: 100%;
}
.portfolio-items article img {
	width: 100%;
}
.images{
	margin-bottom: 2%;
}
.heading{
    text-transform: uppercase;
    margin: 1.5em;
}
#portfolio{
    margin-top: 10em;
}
.date{
    float:right;
    text-transform: uppercase;
    font-size: 20px;
}
.wblo{
    margin-top: 10em;
}
.footer{
    background-color: #222;
    height: 70px;
}
.text-right{
    color: #fff;
    margin-top: 2em;
}
.simplenav a{
    text-decoration: none;
    color: white;
    
}
.simplenav{
    margin-top: 2em;
}
@media (max-width: 768px) {
    .navStyle {
    float: right;
    width: auto; 
    text-align: center;
    }
    
    .navbar .navbar-toggler {
    background:#ED5441;
    }
    
    
    
    .navbar {
    border: 0px solid #fff;
    min-height: 40px;
    margin-bottom: 0px;
    float: right;
    }
    .navStyle ul li {
    display: block;
    margin: 0px;
    }
    
    .navbar-inverse .navbar-nav > li > a {
    color: #222; 
    font-size:12px;
    padding: 10px 11px;
    }
    } 
    @media (max-width: 480px){ 
    .navStyle {
    float: left;
    width: 100%; 
    text-align: left;
    }
    .navbar {
    border: 0px solid white;
    min-height: 40px;
    margin-bottom: 0px;
    float: initial;
    width: 100%;
    }
    
    }